/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
wk
/packages/kitbs/laravel-translation-manager/*


#wk/cellar-old/*
#!wk/cellar-old/wk
#wk/cellar-old/wk/cellar
#wk/cellar-old/wk/cellar_old
#wk/cellar-old/wk/mapbox1.tm2
#wk/cellar-old/wk/mapbox1.workbench
#wk/cellar-old/wk/workbench
#wk/vinfo/*
#!wk/vinfo/storage/data

