body {
	overflow-y: scroll;
}

body { padding-top: 70px; }

html, body, input, textarea
{
	/*font-family: 'Rosarivo', serif;*/
}

textarea.plaintext {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
	font-size: 10pt;
}

[lang^="zh"] i {
	font-style: normal !important;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 80px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0 0 0;
	/*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);*/
}

.img-avatar-xs {
	width:28px;
}

.dropdown .img-avatar-xs {
	margin: -4px 8px -4px 0;
}

.img-avatar-sm {
	width:36px;
}

.img-avatar-md {
	width:52px;
}

.img-avatar-lg {
	width:140px;
}

.navbar .img-avatar-sm {
	margin:-18px 7px -14px 0;
}

fieldset legend {
	font-size: 16px;
}

input.input-default {
	background-color: #eee;
}

.table.table-valign-middle>tbody>tr>th,
.table.table-valign-middle>tbody>tr>td
{
	vertical-align: middle;
}

.table > tbody:first-child > tr:first-child > th,
.table > tbody:first-child > tr:first-child > td {
	border-top: none;
}

.table tr.folded td {
	border-bottom: 3px solid #ddd;
}

.panel-default>.panel-heading, .panel-heading {
	background: none;
}
.panel-footer {
	/*margin: 0 15px;*/
	background: none;
	padding: 15px 0 0 0;
	border-top: 1px solid #e5e5e5;
}
.panel-footer.unstyled {
	border-top: none;
}
.panel fieldset legend {
	padding-bottom: 10px;
}
.panel-body {
	/*padding: 15px 0;*/
	/*margin: 0 15px;*/
	padding:0;
	margin:0;
}
.panel-group .panel {
	padding:0;
}
.panel-group .panel-body {
	padding: 15px 0;
	margin: 0 15px;
}
.panel-footer .pagination {
	margin: 5px 0 0;
}
.panel .table-responsive {
	/*padding:0 15px;*/
}
.panel {
	padding: 15px;
}
.panel-unstyled {
	padding: 0 15px;
}
.page-header {
	border-bottom: none;
	padding: 0 15px;
}

.navbar {
	z-index: 1040;
}

.btn:not(.btn-link) {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.btn-block-sm {
		display: block;
		width: 100%;
	}
	.btn-block-sm + .btn-block-sm {
		margin-top: 5px;
	}
}

input[type="checkbox"].checkbox-sm:checked:before,
.checkbox input[type="checkbox"].checkbox-sm:checked:before,
.checkbox-inline input[type="checkbox"].checkbox-sm:checked:before {
	left: 5px;
	width: 4px;
	height: 8px;
}

input[type="checkbox"].checkbox-sm:after,
.checkbox input[type="checkbox"].checkbox-sm:after,
.checkbox-inline input[type="checkbox"].checkbox-sm:after {
	width: 14px;
	height: 14px;
}

th label {
	font-weight: bold;
}

textarea {
	resize: vertical;
}

h4 small .badge {
	padding-bottom: 3px;
}

.navbar .dropdown-toggle .caret {
	float: right;
	height: 10px;
	margin-left: 6px;
	margin-top: 10px;
}

.navbar .dropdown.open .dropdown-toggle .caret {
	border-top: none;
	height: 4px;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
}

.collapsed .caret {
	content: "";
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
}

tr.structural {
	opacity: 0.7;
}

a.structural {
	font-style: italic;
}

a.country {
	font-weight: bold;
}

.table.table-form tbody > tr > td {
	border:none;
	padding:0 5px;
}
.table.table-form tbody > tr > td.has-btn {
	padding: 1px 0 0 0;
}

.selectize-control.input-sm .item,  .selectize-control.input-sm input {
	font-size: 12px;
}

.selectize-control.input-sm .selectize-input {
	padding-top: 2px;
	padding-bottom: 0;
	min-height: 30px;
}

.selectize-control.single.input-sm .selectize-input:after {
	right: 10px;
}
.selectize-control .item small {
	font-size: 13px;
}

.form-control-static {
	padding: 0;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	font-size: 16px;
}

/* Navbar Red */

.navbar-inverse {
  background-color: #dd1717;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #f49999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #bbbbbb;
}
.navbar-inverse .navbar-nav > li > a {
  color: #f49999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #af1212;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #bd1414;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #af1212;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #f49999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #af1212;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #f49999;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .btn-link {
  color: #f49999;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}
.navbar-inverse .navbar-form input[type=text],
.navbar-inverse .navbar-form input[type=search],
.navbar-inverse .navbar-form input[type=password] {
  color: #fff;
  -webkit-box-shadow: inset 0 -1px 0 #f49999;
  box-shadow: inset 0 -1px 0 #f49999;
}
.navbar-inverse .navbar-form input[type=text]::-moz-placeholder,
.navbar-inverse .navbar-form input[type=search]::-moz-placeholder,
.navbar-inverse .navbar-form input[type=password]::-moz-placeholder {
  color: #f49999;
  opacity: 1;
}
.navbar-inverse .navbar-form input[type=text]:-ms-input-placeholder,
.navbar-inverse .navbar-form input[type=search]:-ms-input-placeholder,
.navbar-inverse .navbar-form input[type=password]:-ms-input-placeholder {
  color: #f49999;
}
.navbar-inverse .navbar-form input[type=text]::-webkit-input-placeholder,
.navbar-inverse .navbar-form input[type=search]::-webkit-input-placeholder,
.navbar-inverse .navbar-form input[type=password]::-webkit-input-placeholder {
  color: #f49999;
}
.navbar-inverse .navbar-form input[type=text]:focus,
.navbar-inverse .navbar-form input[type=search]:focus,
.navbar-inverse .navbar-form input[type=password]:focus {
  -webkit-box-shadow: inset 0 -2px 0 #ffffff;
  box-shadow: inset 0 -2px 0 #ffffff;
}
