body {
	overflow-y: scroll;
}

body { padding-top: 70px; }

html, body, input, textarea
{
	/*font-family: 'Rosarivo', serif;*/
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 80px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0 0 0;
	/*-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);*/
}


fieldset legend {
	font-size: 16px;
}

input.input-default {
	background-color: #eee;
}

.table.table-valign-middle>tbody>tr>th,
.table.table-valign-middle>tbody>tr>td
{
	vertical-align: middle;
}

.table > tbody:first-child > tr:first-child > th,
.table > tbody:first-child > tr:first-child > td {
	border-top: none;
}

.panel-default>.panel-heading, .panel-heading {
	background: none;
}
.panel-footer {
	/*margin: 0 15px;*/
	background: none;
	padding: 15px 0 0 0;
	border-top: 1px solid #e5e5e5;
}
.panel-footer.unstyled {
	border-top: none;
}
.panel fieldset legend {
	padding-bottom: 10px;
}
.panel-body {
	/*padding: 15px 0;*/
	/*margin: 0 15px;*/
	padding:0;
	margin:0;
}
.panel-group .panel {
	padding:0;
}
.panel-group .panel-body {
	padding: 15px 0;
	margin: 0 15px;
}
.panel-footer .pagination {
	margin: 5px 0 0;
}
.panel .table-responsive {
	/*padding:0 15px;*/
}
.panel {
	padding: 15px;
}
.panel-unstyled {
	padding: 0 15px;
}
.page-header {
	border-bottom: none;
	padding: 0 15px;
}

.navbar {
	z-index: 1040;
}

.btn:not(.btn-link) {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
	.btn-block-sm {
		display: block;
		width: 100%;
	}
	.btn-block-sm + .btn-block-sm {
		margin-top: 5px;
	}
}

input[type="checkbox"].checkbox-sm:checked:before,
.checkbox input[type="checkbox"].checkbox-sm:checked:before,
.checkbox-inline input[type="checkbox"].checkbox-sm:checked:before {
	left: 5px;
	width: 4px;
	height: 8px;
}

input[type="checkbox"].checkbox-sm:after,
.checkbox input[type="checkbox"].checkbox-sm:after,
.checkbox-inline input[type="checkbox"].checkbox-sm:after {
	width: 14px;
	height: 14px;
}

th label {
	font-weight: bold;
}

textarea {
	resize: vertical;
}

h4 small .badge {
	padding-bottom: 3px;
}

.navbar .dropdown-toggle .caret {
	float: right;
	height: 10px;
	margin-left: 6px;
	margin-top: 10px;
}

.navbar .dropdown.open .dropdown-toggle .caret {
	border-top: none;
	height: 4px;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
}

.table.table-form tbody > tr > td {
	border:none;
	padding:0 5px;
}
.table.table-form tbody > tr > td.has-btn {
	padding: 1px 0 0 0;
}

.selectize-control.input-sm .item,  .selectize-control.input-sm input {
	font-size: 12px;
}

.selectize-control.input-sm .selectize-input {
	padding-top: 2px;
	padding-bottom: 0;
	min-height: 30px;
}

.selectize-control.single.input-sm .selectize-input:after {
	right: 10px;
}